<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--1、命名-->
    <dubbo:application name="userconsumer"></dubbo:application>
    <!--2、注册中心-->
    <dubbo:registry address="47.107.65.43:2181" protocol="zookeeper" ></dubbo:registry>
    <!--3、协议-->
    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>
    <!--4、获取服务-->
    <dubbo:reference interface="com.wjt.mm.service.user.UserService" id="userService" retries="0"></dubbo:reference>
</beans>